<html>
<head>
	<title></title>

	<style>
		tr, td{
			border:1px gray solid;
			text-align: right;
			padding:5px;
		}

		body, th {
			text-align: center;
		}

		table {
			margin: 0 auto;
		}
	</style>
</head>

<body>

<h1 class="jumbotron"> Holiday Shopping  </h1>

<h2> Cart </h2>

<table>
	<tr>
		<th>Product</th>
		<th>Unit Price</th>
		<th> Quantity </th>
		<th>Total</th>
	</tr>

	<tr>
		<td>Fruit Cake</td>
		<td>$<span id="fruitCakePrice">30</span></td>
		<td><input type="text" class="qty" id="qty_item1" size="5" value="1">  </td>
		<td>$<span id="totalItem1">30</span></td>
	</tr>

	<tr>
		<td>Piñata (Medium size)</td>
		<td>$<span id="pinataPrice">20</span></td>
		<td><input type="text" class="qty" id="qty_item2" size="5" value="2">  </td>
		<td>$<span id="totalItem2">40</span></td>
	</tr>

	<tr>
		<td>Shipping</td>
		<td></td>
		<td> </td>
		<td>$<span id="shippingCost">10</span></td>
	</tr>

	<tr>
		<td>Subtotal</td>
		<td> </td>
		<td> </td>
		<td>$<span id="subtotal">80</span></td>
	</tr>

	<tr>
		<td>Tax (10%)</td>
		<td></td>
		<td></td>
		<td>$<span id="tax">8</span></td>
	</tr>

	<tr>
		<td>Total</td>
		<td></td>
		<td></td>
		<td>$<span id="total">88</span></td>
	</tr>
</table>

<h3>Shipping & handling</h3>
<select name="shipping" id="shipping">
	<option value="15">Next-day shipping: $15</option>
	<option value="10" selected>Three-day shipping: $10</option>
	<option value="5">Regular shipping (5-8 days): $5</option>
</select>
<br><br>

<input type="checkbox" id="terms" name="terms" required>
<span id="termsMessage" >I accept the terms of this purchase.</span>

<br><br>

<input type="submit" value="CONFIRM PURCHASE" />
</body>

<script type="module">
	import * as x from '/js/functions/backendFunctions.js';
	window.onload = function () {
		console.log('Window ready');
		console.log(getSubTotal());

		$('#qty_item1').on('input', function(e){
			const fruitCakePrice = x.get("#fruitCakePrice").innerText;
			const totalFruitCakePrice = parseInt(fruitCakePrice * x.get("#qty_item1").value);
			x.get('#totalItem1').innerText = totalFruitCakePrice;
			subTotal();
			total();
			console.log(totalFruitCakePrice);
		});

		$('#qty_item2').on('input', function(e){
			const pinataPrice = x.get("#pinataPrice").innerText;
			const totalPinataPrice = parseInt(pinataPrice * x.get("#qty_item2").value);
			x.get('#totalItem2').innerText = totalPinataPrice;
			subTotal();
			total();
			console.log(totalPinataPrice);
		});

		$('#shipping').on('change', function(e){
			x.get('#shippingCost').innerText = parseInt(this.value);
			total();
		});

		function subTotal() {
			const subtotalElem = x.get('#subtotal');
			const totalFruitCake = parseInt(x.get('#totalItem1').innerText);
			const totalPinata = parseInt(x.get('#totalItem2').innerText);
			subtotalElem.innerText = totalFruitCake + totalPinata;
		}

		function getSubTotal() {
			const subtotalElem = x.get('#subtotal');
			const totalFruitCake = parseInt(x.get('#totalItem1').innerText);
			const totalPinata = parseInt(x.get('#totalItem2').innerText);
			subtotalElem.innerText = totalFruitCake + totalPinata;
			return totalFruitCake + totalPinata;
		}

		function getShipping() {
			return parseInt(x.get('#shipping > option[selected]').value);
		}

		function getTax(){
			return parseInt(x.get('#tax').innerText);
		}

		function total() {
			const totalElem = x.get('#total');
			totalElem.innerText = parseInt(getShipping() + getTax() + getSubTotal());
		}
	};
</script>

</html>