<h1>CST 336: Internet Programming</h1>
<h2>Course Website for Isak Hauge</h2>
<br>
<p><strong>Website directory</strong></p>
<ul>
	<li><a href="/portfolio">Portfolio</a></li>
	<li><a href="/project1">Project 1: HTML & CSS</a></li>
	<li><a href="/lab/jsguess">Lab 2: JS Number Guessing Game</a></li>
	<li><a href="/project3">Project 3: Unsplash API</a></li>
</ul>