<div class="nav">
    <div class="container">
        <div class="brand">
            Isak
        </div>
        <div class="nav-menu">
            <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>