<section class="bg-primary py-5">
	<div class="container">
		<h1 class="text-white text-center">CST 336: Internet Programming</h1>
		<h2 class="text-white text-center font-weight-light">Course Website for Isak Hauge</h2>
	</div>
</section>
<section class="py-5 border-top">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h3 class="mb-4">Lab</h3>
				<p><a href="/lab/ajax">Ajax</a></p>
				<p><a href="/lab/contactlist">Contact list</a></p>
				<p><a href="/lab/flexbox">Flexbox</a></p>
				<p><a href="/lab/hiddencat">Hidden cat</a></p>
				<p><a href="/lab/jquery-challenge">jQuery Challenge</a></p>
				<p><a href="/lab/jsguess">JS Guess Game</a></p>
				<p><a href="/lab/pixabay">Pixabay</a></p>
				<p><a href="/lab/us-geo-quiz">US Geography Quiz</a></p>
				<p><a href="/lab/solar-system">Solar System</a></p>
			</div>

			<div class="col-md">
				<h3 class="mb-4">Project</h3>
				<p><a href="/project/project1">Project 1: Optional Subject</a></p>
				<p><a href="/project/project2">Project 2: Basic Shopping Cart</a></p>
				<p><a href="/project/project3">Project 3: Unsplash API</a></p>
			</div>

			<div class="col-md">
				<h3 class="mb-4">Midterm</h3>
				<p><a href="/midterm/midterm1">Midterm: YouTube API</a></p>
			</div>
		</div>
	</div>
</section>