<div class="nav-bar fixed bg-white">
    <div class="container nav-content-wrapper">
        <div class="brand">
            ISAK
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="/portfolio">Home</a></li>
                <li><a href="/portfolio/about" class="active">About</a></li>
                <li><a href="/portfolio/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-0">About me</h2>
                <p class="h4 font-weight-light">My name is Isak, and I'm a 28 year old tech savage from Norway. The image below is the window view from my childhood home, and the other is of my girlfriend and I when we visited Andøya this summer.</p>
            </div>
            <div class="col">
                <img src="/images/portfolio/ig4.jpg" class="rounded-s shadow-m" width="auto" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-white">
    <div class="container text-center">
        <img src="/images/portfolio/ig1.jpg" width="100%" class="rounded-s shadow-m" alt="Profile Image">
    </div>
</section>