<section class="py-5">
	<div id="content" class="container"></div>
</section>
<style>
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	main{
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bg-black {background-color: black;}
</style>
<script type="module" src="/js/functions/lab/lab6.js"></script>