<footer class="bg-dark py-3">
	<section>
		<div class="container">
			<p class="text-white text-center small m-0">
				CST 336 - Internet Programming<br>
				The content on this website is written by Isak Hauge<br>
				©<span id="year">2019</span>. All rights reserved.</p>
				<script>
					window.onload=function(){
						document.getElementById("year").innerText = new Date().getFullYear().toString();
					}
				</script>
		</div>
	</section>
</footer>