{{{navbar}}}

{{{banner}}}

<section class="py-2">
	<div class="container">
		<h2>Compatibility</h2>
		<p>Even though this technology is fantastic and no practical preprocessing and compilation is required, it is still officially an experimental technology (<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*#Browser_compatibility">Mozilla, 2018</a>)</p>
		<iframe style="border:0;" src="https://giphy.com/embed/26xBz7eK5wK1DxNeg" width="480" height="269" class="giphy-embed" allowFullScreen></iframe>
		<p>As a professional advice, you should seriously learn SCSS, but if you are a student like me, using custom properties in your assignments and projects will <b>definitely</b> save you <b>a lot</b> of time.</p>
		<br>
		<figure>
			<img src="/images/project1/browser_compatibility.png" alt="Browser Compatibility">
			<figcaption><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*#Browser_compatibility">Mozilla MDN Web Docs, 2018.09.25</a></figcaption>
		</figure>
	</div>
</section>

{{{footer}}}