{{{navbar}}}

<section class="h20" style="height: 300px">
	<img src="/images/project1/banner.png" alt="Banner image">
</section>

<section class="py-2">
	<div class="container">
		<h2>Who is this tutorial for</h2>
		<p>This tutorial is dedicated to students taking courses in web design-and-develpment; especially those who has not yet bothered to learn or even look at the CSS preprocessor SCSS, but still want to write efficient code. I will quickly guide you through the basics and simultaneously demonstrate the intrinsic necessity for using custom properties in larger projects.</p>
	</div>
	<div class="container mt-2">
		<h2>Summary</h2>
		<ol>
			<li><a href="/project1/custom-properties">What are custom properties.</a></li>
			<li><a href="/project1/syntax">Syntax.</a></li>
			<li><a href="/project1/examples">Examples of application.</a></li>
			<li><a href="/project1/compatibility">Compatibility.</a></li>
		</ol>
	</div>
</section>

<section class="py-2 bg-primary">
	<div class="container">
		<h2 class="text-light">New HTML tags and CSS properties used</h2>
		<div class="row">
			<div class="col">
				<h3 class="text-light">HTML tags</h3>
				<ul class="text-light">
					<li>nav</li>
					<li>code</li>
				</ul>
			</div>
			<div class="col">
				<h3 class="text-light">CSS properties</h3>
				<ul class="text-light">
					<li>filter</li>
					<li>z-index</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{{{footer}}}