{{{banner}}}

<section class="py-2">
	<div class="container">
		<h2>Who is this tutorial for</h2>
		<p>This tutorial is dedicated to students taking courses in web design-and-develpment; especially those who has not yet bothered to learn or even look at the CSS preprocessor SCSS, but still want to write efficient code. I will quickly guide you through the basics and simultaneously demonstrate the intrinsic necessity for using custom properties in larger projects.</p>
	</div>
	<div class="container mt-2">
		<h2>Summary</h2>
		<ol>
			<li><a href="/project1/custom-properties">What are custom properties.</a></li>
			<li><a href="/project1/syntax">Syntax.</a></li>
			<li><a href="/project1/examples">Examples of application.</a></li>
			<li><a href="/project1/compatibility">Compatibility.</a></li>
		</ol>
	</div>
	<div class="container mt-2">
		<h2>Additional Node Package</h2>
		<p>I have used <a href="https://www.npmjs.com/package/faker" target="_blank">Faker</a>, and placed a random, fake country in the footer.</p>
	</div>
</section>