<section class="py-5 bg-primary">
	<div class="container">
		<h1 class="text-white">US Geography Quiz</h1>
	</div>
</section>

<section class="py-5">
	<div class="container">
		<form>

			<!-- Capital of California -->
			<div class="form-group">
				<h3 id="h3-capital" data-answer>What is the capital of California?</h3>
				<input type="text" id="capital-california" class="form-control" required>
			</div>

			<!-- Longest river in the USA -->
			<div class="form-group">
				<h3 id="h3-river" data-answer>What is the longest river?</h3>
				<select name="longest-river" id="longest-river" class="form-control" required>
					<option disabled selected>Select one</option>
					<option value="mississippi">Mississippi</option>
					<option value="missouri">Missouri</option>
					<option value="colorado">Colorado</option>
					<option value="delaware">Delaware</option>
				</select>
			</div>

			<!-- The smallest state in USA -->
			<div class="form-group py-3">
				<h3 id="h3-state" data-answer>What is the smallest US state?</h3>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="radio-smallest-state" id="radio-maine" value="maine" required>
					<label class="form-check-label" for="radio-maine">Maine</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="radio-smallest-state" id="radio-rhodeisland" value="rhodeisland" required>
					<label class="form-check-label" for="radio-rhodeisland">Rhode Island</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="radio-smallest-state" id="radio-maryland" value="maryland" required>
					<label class="form-check-label" for="radio-maryland">Maryland</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="radio-smallest-state" id="radio-delaware" value="delaware" required>
					<label class="form-check-label" for="radio-delaware">Delaware</label>
				</div>
			</div>

			<!-- Presidents carved into Mount Rushmore -->
			<div class="form-group py-3">
				<h3 id="h3-presidents" data-answer>What presidents are carved into Mount Rushmore?</h3>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="check-rushmore" id="check-jackson" value="jackson" required>
					<label class="form-check-label" for="check-jackson">A.Jackson</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="check-rushmore" id="check-franklin" value="franklin" required>
					<label class="form-check-label" for="check-franklin">B. Franklin</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="check-rushmore" id="check-jefferson" value="jefferson" required>
					<label class="form-check-label" for="check-jefferson">T. Jefferson</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="check-rushmore" id="check-roosevelt" value="roosevelt" required>
					<label class="form-check-label" for="check-roosevelt">T. Roosevelt</label>
				</div>
			</div>

			<!-- The State seal of California -->
			<div class="form-group">
				<h3 id="h3-seal" data-answer>What image is in the Great Seal of the State of California?</h3>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm">
						<input type="radio" name="seal" id="seal-1" value="seal-1" hidden required>
						<label for="seal-1"><img src="/images/lab/us-geo-quiz/seal1.png" alt=""></label>
					</div>
					<div class="col-sm">
						<input type="radio" name="seal" id="seal-2" value="seal-2" hidden required>
						<label for="seal-2"><img src="/images/lab/us-geo-quiz/seal2.png" alt=""></label>
					</div>
					<div class="col-sm">
						<input type="radio" name="seal" id="seal-3" value="seal-3" hidden required>
						<label for="seal-3"><img src="/images/lab/us-geo-quiz/seal3.png" alt=""></label>
					</div>
				</div>
			</div>

			<!-- Submit answers -->
			<div class="form-group">
				<button type="button" id="btn-submit" class="btn btn-secondary">Submit</button>
			</div>
		</form>
		<div id="game-status" class="bg-light border rounded p-3 text-center" hidden>
			<h2>The total score is: <span id="game-score">0</span></h2>
			<h3>Quiz taken: <span id="quiz-taken">0</span></h3>
			<h4>Score history: <span id="score-history">0</span></h4>
		</div>
	</div>
</section>
<footer>
	<section class="py-5 border-top">
		<div class="container">
			<div class="d-flex justify-content-between">
				<div class="d-flex align-items-center">
					<img src="/images/lab/us-geo-quiz/csumb_logo.png" width="100" alt="">
					<p class="m-0 mx-2 small">
						CST 336. ©2019 Isak Hauge and Anders Bærø.<br>
						Disclaimer: The information in this website is fictitious.<br>
						It is used for academic purposes only.
					</p>
				</div>
				<div class="d-flex flex-fill align-items-center justify-content-end">
					<img src="/images/lab/us-geo-quiz/buddy_verified.png" width="80" alt="">
				</div>
			</div>
		</div>
	</section>
</footer>
<style>
	input[type="radio"][hidden] ~ label {
		width: 100%;
		text-align: center;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 5px;
	}

	input[type="radio"][hidden] ~ label:hover {
		background-color: rgba(0,0,0,0.05);
		cursor: pointer;
	}

	input[type="radio"][hidden]:checked ~ label {
		background-color: rgba(0,0,0,0.1);
	}

	input[type="radio"][hidden] ~ label > img {
		-webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
		filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
		padding: 10px;
	}

	input[type="radio"]:checked ~ label > img {
		-webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));
		filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));
	}

	label, input, select {
		cursor: pointer;
	}

	.form-group h3::before {
		width: 30px;
		height: 30px;
		background-size: contain;
		float: left;
		margin-right: 10px;
	}

	.form-group h3[data-answer="true"]::before {
		background-image: url("/images/lab/us-geo-quiz/checkmark.png");
		content: "";
	}

	.form-group h3[data-answer="false"]::before {
		background-image: url("/images/lab/us-geo-quiz/xmark.png");
		content: "";
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="module">
	import * as x from '/js/functions/functions.js';
	const correctAnswers = {
		capital: 'SACRAMENTO',
		longestRiver: 'MISSISSIPPI',
		smallestState: 'RHODE ISLAND',
		rushmorePresidents: [
			'WASHINGTON',
			'LINCOLN',
			'ROOSEVELT',
			'JEFFERSON'
		],
		californiaSeal: 2
	};

	window.addEventListener('load', function(){

		function status(boolean, /*@type{HTMLElement}*/ sibling) {
			let classes = 'alert mt-2';
			if (boolean)
				classes += ' alert-success';
			else if (!boolean)
				classes += ' alert-danger';
			const elem = document.createElement('div');
			elem.innerText = (boolean) ? 'Correct!' : 'Incorrect!';
			elem.setAttribute('class', classes);
			sibling.parentElement.append(elem);
		}

		console.log('Test');
		/*@type{HTMLElement}*/
		const capital = x.get('#capital-california');
		/*@type{HTMLElement}*/
		const longestRiver = x.get('#longest-river');
		/*@type{HTMLElement}*/
		const smallestState = x.get('#radio-rhodeisland');
		const rushmorePresidents = {
			/*@type{HTMLElement}*/
			jackson: x.get('#check-jackson'),
			/*@type{HTMLElement}*/
			franklin: x.get('#check-franklin'),
			/*@type{HTMLElement}*/
			jefferson: x.get('#check-jefferson'),
			/*@type{HTMLElement}*/
			roosevelt: x.get('#check-roosevelt'),
		};
		/*@type{HTMLElement}*/
		const seal = x.get('#seal-2');

		const totalScore = x.get('#game-score');
		const quizTaken = x.get('#quiz-taken');
		const scoreHistory = x.get('#score-history');

		const imgCheck = document.createElement('img');
		imgCheck.src = '/images/lab/us-geo-quiz/checkmark.png';
		imgCheck.width = 30;

		const imgCross = document.createElement('img');
		imgCross.src = '/images/lab/us-geo-quiz/xmark.png';
		imgCross.width = 30;

		const h3Captial = x.get('#h3-capital');
		const h3River = x.get('#h3-river');
		const h3State = x.get('#h3-state');
		const h3President = x.get('#h3-presidents');
		const h3Seal = x.get('#h3-seal');

		let gameScore = 0;

		x.get('#btn-submit').addEventListener('click', function (){

			if (capital.value.length === 0) {
				alert('Question 1 not answered!');
				return;
			}

			x.get('#game-status').hidden = false;

			const statuses = x.getAll('div.alert');
			if (statuses.length > 0)
				statuses.forEach(function(elem){
					elem.remove();
				});

			const correctCapital = capital.value.toUpperCase() === correctAnswers.capital;
			h3Captial.setAttribute('data-answer', correctCapital);
			status(correctCapital,capital);
			gameScore = (correctCapital) ? gameScore + 20 : gameScore;

			const correctRiver = longestRiver.options[longestRiver.selectedIndex].text.toUpperCase() === correctAnswers.longestRiver;
			h3River.setAttribute('data-answer', correctRiver);
			status(correctRiver, longestRiver);
			gameScore = (correctRiver) ? gameScore + 20 : gameScore;

			const correctState = smallestState.checked === true;
			h3State.setAttribute('data-answer', correctState);
			status(correctState, smallestState.parentElement);
			gameScore = (correctState) ? gameScore + 20 : gameScore;

			const correctPresidents =
				rushmorePresidents.jackson.checked === false
				&& rushmorePresidents.franklin.checked === true
				&& rushmorePresidents.jefferson.checked === true
				&& rushmorePresidents.roosevelt.checked === true;
			h3President.setAttribute('data-answer', correctPresidents);
			status(correctPresidents, rushmorePresidents.jackson.parentElement);
			gameScore = (correctPresidents) ? gameScore + 20 : gameScore;

			const correctSeal = seal.checked === true;
			h3Seal.setAttribute('data-answer', correctSeal);
			status(correctSeal, seal.parentElement.parentElement);
			gameScore = (correctSeal) ? gameScore + 20 : gameScore;

			if (window.localStorage.getItem('quizScore')){
				window.localStorage.setItem('quizScore', window.localStorage.getItem('quizScore') + ', ' + gameScore);
				quizTaken.innerText = window.localStorage.getItem('quizScore').split(', ').length;
				scoreHistory.innerText = window.localStorage.getItem('quizScore');
			} else{
				window.localStorage.setItem('quizScore', gameScore);
				quizTaken.innerText = 1;
				scoreHistory.innerText = gameScore;
			}

			if (gameScore == 100)
				alert('Contratulations! 100 points!');

			totalScore.innerText = gameScore;
			gameScore = 0;
		});
	});
</script>