<header>
	<h1>Isak Hauge</h1>
</header>

<nav>
	<hr width="50%">
	<a href="/portfolio" class="active">Home</a>
	<a href="/portfolio/about">About</a>
	<a href="/portfolio/contact">Contact</a>
</nav>

<br><br>

<main>
	<figure id="me">
		<img src="images/portfolio/isak.jpg" alt=""Picture of Isak Hauge>
	</figure>
	<div id="welcomeText">
		<p>Hello!</p>
		<p>Thank you for visiting my professional portfolio website.</p>
		<p>I am a Software Engineer and have revently been hired at the Big Tech Company.</p>
		<p>Feel free to contact me!</p>
		<br><br>
		<em>«With ordinary talent and extraordinary <strong>perseverance</strong>, all things are attainable»</em><br>
		- Thomas F. Buxton
	</div>
</main>

<footer>
	<p class="m-0 text-white small">
		CST 336. &copy;<span id="year"></span> Hauge. <br>
		<strong>Disclaimer:</strong> The information in this webpage is fictitous.<br>
		It is used for academic purposes only.
	</p>
	<script>window.onload=function(){document.getElementById('year').innerText = new Date().getFullYear().toString();}</script>
</footer>