<section class="bg-primary py-5">
	<div class="container">
		<h1 class="text-white h3 text-center">Project 3: Unsplash API</h1>
		<h2 class="text-white h6 font-weight-light text-center">Created by Isak Hauge</h2>
	</div>
</section>
<section class="py-3 bg-light border-bottom">
	<div class="container">
		<div class="form-row">
			<div class="form-group col-md-10 my-2">
				<input id="search-bar" type="text" class="form-control" placeholder="Search for an image">
			</div>
			<div class="form-group col-md-2 my-2">
				<button id="search" class="btn btn-primary w-100" type="button">Search</button>
			</div>
		</div>
	</div>
</section>
<section class="py-5">
	<div id="search-error" class="container"></div>
	<div class="container">
		<div id="grid" class="grid"></div>
	</div>
</section>
<script type="module" src="/js/functions/project3.js"></script>
<script type="module" src="/js/components/_ImportComponents.js"></script>