<div class="nav-bar fixed bg-white">
    <div class="container nav-content-wrapper">
        <div class="brand">
            ISAK
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="/portfolio">Home</a></li>
                <li><a href="/portfolio/about">About</a></li>
                <li><a href="/portfolio/contact" class="active">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-0">Contact information</h2>
                <p>
                    ihauge@csumb.edu<br>
                    0047 915 27 060
                </p>
                <h2 class="mt-5">Social media</h2>
                <p>
                    <a href="https://www.linkedin.com/in/isakhauge/" target="_blank">LinkedIn</a><br>
                    <a href="https://www.instagram.com/isakkhauge/" target="_blank">Instagram</a>
                </p>
            </div>
            <div class="col">
                <img src="/images/portfolio/ig7.jpg" class="rounded-s shadow-m" width="100%" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdtvrAcDB9ZdDoEcxy64a-lLAvfQq3A8XLdiubBdEaAIkABSQ/viewform?embedded=true" width="640" height="822" frameborder="0" marginheight="0" marginwidth="0">Laster inn …</iframe>
    </div>
</section>