<div class="nav-bar fixed bg-white">
    <div class="container nav-content-wrapper">
        <div class="brand">
            ISAK
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="/portfolio" class="active">Home</a></li>
                <li><a href="/portfolio/about">About</a></li>
                <li><a href="/portfolio/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="py-5 bg-dark">
    <div class="container text-center">
        <h1 class="text-light">Personal Website</h1>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/images/portfolio/isak.jpg" class="shadow-m rounded-m" width="550" alt="Profile Image">
            </div>
            <div class="col">
                <h2 class="mt-0">Isak Hauge</h2>
                <p class="h4 font-weight-light">California State University, Monterey Bay<br>Exchange student</p>
                <p class="font-weight-bold mt-5">Programming skills</p>
                <ul class="p mt-0">
                    <li>Java</li>
                    <li>C++</li>
                    <li>PHP</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
    </div>
</section>